.mat-card{
  margin: 10px auto;
  border: 10px;
  max-width: 450px;
  border-radius:5px;
}

.mat-card-title {
  color: #6f634d;
  font-size: x-large;
}

.mat-form-field{
  width: 100%;
}

.mat-card-actions{
  align-items: end;
}

.newPwd {
  height: 90px;
}
