<div class="bg" *ngIf="!isUnsubscribed && !isError && !isRegistered">
  <div class="container">
    <div class="d-flex justify-content-around">
      <div class="card card1">
        <div class="card-header">
          <h3>Registrácia</h3>
        </div>
        <div class="card-body">
          <form [formGroup]="registerForm" (submit)="onSubmit()">
            <div class="form-group">
              <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text"><i class="material-icons">perm_identity</i></div>
                </div>
                <input formControlName="name" type="text" class="form-control" placeholder="Name"
                  [ngClass]="(submitted || f.name.touched) && f['name'].invalid ? 'is-invalid': ''" />
                <div *ngIf="f.name.errors" class="invalid-feedback">
                  <div *ngIf="f.name.errors.required">Name is required</div>
                  <div *ngIf="f.name.errors.minlength">Name must be at least {{f.name.errors.minlength.requiredLength}}
                    characters</div>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text"><i class="material-icons">alternate_email</i></div>
                </div>
                <input formControlName="email" type="text" class="form-control" placeholder="Email"
                  [ngClass]="(submitted || f.email.touched) && f['email'].invalid ? 'is-invalid': ''" />
                <div *ngIf="f.email.errors" class="invalid-feedback">
                  <div *ngIf="f.email.errors.required">Email is required</div>
                  <div *ngIf="f.email.errors.emailValid">Email is invalid</div>
                </div>
              </div>
            </div>
            <div class="form-group">
              <select class="custom-select" formControlName="course"
                [ngClass]="(submitted || f.course.touched) && f['course'].invalid ? 'is-invalid': ''">
                <option value="" disabled>Select event</option>
                <option *ngFor="let item of activeEvents " value="{{item.id}}">
                  {{item.description}}, {{item.startDate | date: 'dd.MM.yyyy HH:mm'}}
                </option>
              </select>
              <div *ngIf="f.course.errors" class="invalid-feedback">
                <div *ngIf="f.course.errors.required">Event is required</div>
              </div>
            </div>

            <div class="form-group">
              <label class="switch" for="checkbox">
                <input type="checkbox" id="checkbox" formControlName="gdpr" />
                <div class="slider round"></div>
              </label>
            </div>
            <div class="form-group">
              <button type="submit" class="btn float-right login_btn">Submit</button>
            </div>
          </form>
        </div>
      </div>
      <div class="card card2">
        <div class="my-auto mx-md-5 px-md-5">
          <h3 class="text-white">JEŠUA - Ježišova škola učeníctva</h3> <small class="text-white">informácie v súvislosti s obmedzeniami COVID....</small>
        </div>
      </div>
    </div>
  </div>
</div>

<div [ngClass]="{'alert alert-success': visitors.follower.accepted, 'alert alert-warning': !visitors.follower.accepted, 'alert alert-danger': !visitors.follower}" style="padding: 20px;" *ngIf="isRegistered">
  <!-- <i class="material-icons"></i> -->
  <h4 class="alert-heading">{{!visitors.follower ? 'Failure' : (visitors.follower.accepted ? 'Prihlásený' : 'V poradí...')}} !</h4>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click) = "exit()">
    <span aria-hidden="true">&times;</span>
  </button>
  <div [innerHTML]="visitors.message"></div>
</div>

<div class="alert alert-success" style="padding: 20px;" *ngIf="isUnsubscribed">
  <h4 class="alert-heading">{{visitors.follower ? 'Odhlásený !' : 'Not found !'}}</h4>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click) = "exitOnUnsubscribed()">
    <span aria-hidden="true">&times;</span>
  </button>
  <div [innerHTML]="visitors.message"></div>
</div>

<div class="alert alert-danger" style="padding: 20px;" *ngIf="isError">
  <h4 class="alert-heading">Error !</h4>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click) = "exit()">
    <span aria-hidden="true">&times;</span>
  </button>
  <div>{{errorMessage}}</div>
  <div [innerHTML]="visitors.error.message"></div>
</div>
