.card {
  margin: 10px auto;
  border: 10px;
  background-image: url('src/assets/chosen1.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 10px;
  max-width: 600px;
}

.card-left{
  border-radius: 10px 0px 0px 10px;
  background-color: rgba(255,255,255,0.88) !important;
}

.card-right{
  border-radius: 0px 10px 10px 0px;
}

.card-right-content{
  margin: 20px;
  color: #eeecea;
  font-weight: bold;
  font-size: xx-large;
}

.card-header h3{
color: #6f634d;
}

.mat-form-field{
  width: 100%;
}

a {
color: #6f634d;
}

.google-button {
text-align: center;
}

img.google-signin {
  margin: auto auto;
  display: block;
  cursor: pointer;
}
