<div class="card" fxLayout="row" fxLayoutAlign="center stretch">
  <div class="card-left" fxFlex="55%">
    <div class="card-header">
      <h3>Sign In</h3>{{baseUrl}}
    </div>
    <div class="card-body">
      <form [formGroup]="loginForm" (submit)="signin()" *ngIf="!isLoggedIn">
        <mat-form-field appearance="fill">
          <mat-label>Email</mat-label>
          <input matInput formControlName="email"/>
          <mat-error *ngIf="f.email.touched && f.email.errors?.required">Email is required</mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Password</mat-label>
          <input matInput formControlName="password" [type]="hidePassword ? 'password' : 'text'"/>
          <button type="button" mat-icon-button matSuffix (click)="hidePassword = !hidePassword">
            <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
          <mat-error *ngIf="f.password.touched && f.password.errors?.required">Password is required</mat-error>
        </mat-form-field>
        <div>
          <button mat-raised-button type="submit" color="primary" [disabled]="loginForm.invalid">Submit</button>
        </div>
      </form>
    </div>
    <div fxLayout="row" fxLayoutAlign="center stretch" fxLayoutGap="16px grid">
      <div><img src="../../assets/jesua_pixel.png" width=100 height=1></div>
      <div class="google-button">or</div>
      <div><img src="../../assets/jesua_pixel.png" width=100 height=1></div>
    </div>
    <div>
      <img class="google-signin" src='../../assets/google/btn_google_signin_dark_normal_web.png' (click)="googleSignIn()">
    </div>
    <div class="card-footer">
      <div><a routerLink="/password/account" routerLinkActive="active">Forgot passsword?</a></div>
      <div class="alert alert-danger" role="alert" *ngIf="submitted && isLoginFailed">
        Login failed: {{ errorMessage }}
      </div>
    </div>
  </div>
  <div class="card-right" fxFlex="45%">
    <div class="card-right-content"></div>
  </div>
</div>
