<div style="padding: 10px;" class="panel panel-default">
  <div class="panel-heading">
    <h1 style="text-align: center">Visitors</h1>
  </div>

  <div class="panel-body">
    <table class="table table-hover table-sm" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
      <thead class="thead-light">
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th>Event</th>
          <th>Registered</th>
          <th></th>
          <th>Unregistered</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let event of visitorList " [ngClass]="{'active-background': event.accepted,
        'warn-background': !event.unregistered,
        'error-background': event.unregistered && !event.accepted}">
          <td>{{event.name}}</td>
          <td>{{event.email}}</td>
          <td>{{event.jesuaEventId}}</td>
          <td>{{event.registered | date: 'dd.MM.yyyy HH:mm:ss' : 'Europe/Bratislava'}}</td>
          <td>{{event.unregistered ? 'Odhlásený' : (event.accepted ? 'Prihlásený' : 'Waiting')}}</td>
          <td *ngIf="event.unregistered">{{event.unregistered | date: 'dd.MM.yyyy HH:mm:ss'}}</td>
          <td *ngIf="!event.unregistered"><button (click)="unsubscribe(event.email, event.token, event.jesuaEventId)"
              class='btn btn-warning'>

              <i class="material-icons">edit</i>unregister</button></td>
        </tr>
      </tbody><br>
    </table>
  </div>
</div>
