<div mat-dialog-title>Registrácia
{{data.course.startDate | date: 'dd.MM.yyyy - HH:mm' }}</div>
<div mat-dialog-content [formGroup]="followerService.registerForm">

  <input type="hidden" formControlName="course">
  <input type="hidden" formControlName="gdpr" value="true"/>
  <mat-form-field appearance="fill" class="short">
    <mat-label>Name</mat-label>
    <input matInput formControlName="name" placeholder="Jesua"/>
    <mat-error *ngIf="f.name.touched && f.name.errors?.required">Name is required</mat-error>
    <mat-error *ngIf="f.name.touched && f.name.errors?.minlength">Name must be at least
      {{f.name.errors?.minlength.requiredLength}} characters
    </mat-error>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Enter your email</mat-label>
    <input matInput formControlName="email" placeholder="jesua@jesua.com"/>
    <mat-error *ngIf="f.email.touched && f.email.errors?.required">Email is required</mat-error>
    <mat-error *ngIf="f.email.touched && f.email.errors?.emailValid">Email is not valid</mat-error>
  </mat-form-field>
</div>
<div>
  <button mat-raised-button (click)="onSubmit()" color="primary" [disabled]="followerService.registerForm.invalid">
    Submit
  </button>
  <button mat-stroked-button (click)="onClose()" color="primary">Cancel</button>
</div>

