.mat-dialog-content {
  height: 500px;
}

.mat-form-field{
  width: 100%;
}
.mat-form-field.short-form-field{
  width: 50%;
}

.mat-form-field.wider-form-field{
  height: 100px;
}

#check1 {
  padding-left: 20px;
}

div.avatar {
  display: flex;
  padding: 6px;
  align-items: center;
}

img.avatar {
  width:100px;
  height: 100px;
  cursor: pointer;
  border-radius: 50%;
  border: 3px solid #ccc;
}
