<nav class="navbar navbar-expand navbar-dark" style="background-color: #6f634d;">
  <a href="http://www.jesua.sk" class="navbar-brand">JEŠUA</a>
  <ul class="navbar-nav mr-auto" routerLinkActive="active">
    <li class="nav-item">
      <a href="" class="nav-link" routerLink="" title="Home"><mat-icon>home</mat-icon></a>
    </li>
    <li class="nav-item" *ngIf="showAdminBoard || showModeratorBoard">
      <a href="/events" class="nav-link" routerLink="events">Events</a>
    </li>
    <li class="nav-item" *ngIf="showAdminBoard || showModeratorBoard">
      <a href="/visitors" class="nav-link" routerLink="visitors">Visitors</a>
    </li>
    <li class="nav-item" *ngIf="showAdminBoard">
      <a href="/users" class="nav-link" routerLink="users">Users</a>
    </li>
  </ul>

  <ul class="navbar-nav ml-auto">
    <li class="nav-item" *ngIf="!isLoggedIn">
      <a href="/login" class="nav-link" routerLink="login" title="Login"><mat-icon>lock_open</mat-icon></a>
    </li>
    <li class="nav-item" *ngIf="isLoggedIn">
      <a href="/profile" class="nav-link" routerLink="profile">{{ email }}</a>
    </li>
    <li *ngIf="isLoggedIn" [ngClass]="{'navbar bg-light btn-sm btn-outline-danger': mins < 1, 'nav-link' : mins >= 1}">{{mins | number: '2.0'}}:{{secs | number: '2.0'}}</li>
    <li class="nav-item" *ngIf="isLoggedIn">
      <a href class="nav-link" (click)="logout()">LogOut</a>
    </li>
  </ul>
</nav>

<div class="app-bg loading-overlay custom-spinner" *ngIf="loading">
  <mat-spinner [diameter]="50" strokeWidth="8"></mat-spinner>
</div>
<div *ngIf="!loading">
  <router-outlet></router-outlet>
</div>
