<mat-card>
  <mat-card-header>
    <mat-card-title>Enter email address</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="passwordService.passwordAccountForm">
      <mat-form-field appearance="fill">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email"/>
        <mat-error *ngIf="f.email.touched && f.email.errors?.required">Email is required</mat-error>
        <mat-error *ngIf="f.email.touched && f.email.errors?.emailValid">Email is not valid</mat-error>
      </mat-form-field>
    </form>
  </mat-card-content>
  <mat-card-actions align="end">
    <button mat-raised-button (click)="sendEmail()" color="primary"
            [disabled]="passwordService.passwordAccountForm.invalid">Submit
    </button>
  </mat-card-actions>
  <mat-card-footer class="alert alert-danger" *ngIf="isLoginFailed">
    {{ errorMessage }}
  </mat-card-footer>
</mat-card>
