.mycontainer{
  height: 100% !important;
  width: 100% !important;
  align-content: center;
  background-color: antiquewhite;
}

.card{
  height: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 30%;
  background-color: white !important;
  border-radius:10px;
}

.card-header h3{
  color: #6f634d;
}

.login_btn{
  color: antiquewhite;
  background-color: #6f634d;
  width: 100px;
}
