<mat-icon id="close-icon" (click)="closeDialog(data.navigator)">close</mat-icon>
<div>
  <h3>GDPR</h3>
</div>
<p>OCHRANA OSOBNÝCH ÚDAJOV

  INFORMÁCIE O SPRACÚVANÍ OSOBNÝCH ÚDAJOV

  V súvislosti so spracúvaním osobných údajov, Vám v zmysle Nariadenia Európskeho parlamentu a Rady EÚ 2016/679 (GDPR) z 27. apríla 2016 o ochrane fyzických osôb pri spracúvaní osobných údajov a voľnom pohybe takýchto údajov, poskytujeme nasledujúce informácie.

  KTO JE PREVÁDZKOVATEĽ

  Prevádzkovateľom, ktorý určil účely a prostriedky spracúvania Vašich osobných údajov je:
  Môžete sa na nás obrátiť písomne na adrese:

  ROZSAH OSOBNÝCH ÚDAJOV

  Minimalizujeme rozsah osobných údajov ktoré spracúvame tak, aby postačovali na kvalitné splnenie služieb, ktoré od nás očakávate, aby sme splnili zákonné povinnosti, a tak aby sme chránili naše oprávnené záujmy. Spracúvame ako osobné údaje našich zákazníkov, tak aj osobné údaje našich potenciálnych zákazníkov, ktorí nám na to dali súhlas. Spracúvame tieto kategórie osobných údajov:
  • Základné údaje, ktorými sú Vaše meno a priezvisko.
  • Kontaktné údaje, ktorými sú Váš e-mail.
  • Záznamy e-mailovej a chatovej komunikácie, záznamy telefonátov, prípadne inú komunikáciu s Vami v elektronickej, alebo písomnej podobe.
  • Geolokalizačné údaje, ide o geografické údaje z webového prehliadača počítača alebo z mobilných aplikácií.

  ÚČELY SPRACÚVANIA OSOBNÝCH ÚDAJOV

  Vaše osobné údaje spracúvame predovšetkým pre potrebu registrácie na kurz Ješua. Táto činnosť zahŕňa predovšetkým, príjem a spracovanie registrácií. Vaše osobné údaje spracúvame aj na účely informovania o našich službách.

  PRÁVNE ZÁKLADY SPRACÚVANIA OSOBNÝCH ÚDAJOV

  Vaše osobné údaje spracúvame v súlade so zákonom, iba na základe právnych základov, v prípadoch keď:
  • je spracúvanie osobných údajov nevyhnutné pre splnenie zmluvy (napríklad kúpnej zmluvy) a Vy ste zmluvnou stranou, alebo ste nás požiadali o vykonanie opatrení pred uzatvorením zmluvy (napríklad registráciou do e-shopu),
  • alebo je spracúvanie Vašich osobných údajov nevyhnutné v rámci nášho oprávneného záujmu, ktorý sledujeme a ním je predovšetkým ponuka a predaj tovaru a služieb našim zákazníkom,
  • alebo ste nám udelili Váš súhlas na jeden, alebo viaceré účely. Tie môžu zahŕňať najmä činnosti spojené s ponukou tovaru služieb, alebo spracúvanie s cieľom prispôsobiť ponuku Vašim očakávaniam.

  KATEGÓRIE PRÍJEMCOV

  Vaše osobné údaje môžu byť pri spracúvaní poskytnuté nasledujúcim kategóriám príjemcov:
  Poskytovatelia IT služieb

  DOBA USCHOVÁVANIA OSOBNÝCH ÚDAJOV.

  • V prípade súhlasu dotknutej osoby, budeme Vaše údaje spracúvať do doby, než svoj súhlas neodvoláte, najviac však 24 mesiacov od jeho udelenia.
  • V prípade oprávneného záujmu budeme Vaše osobné údaje spracúvať po dobu, ktorá je opodstatnená vzhľadom k životnému cyklu zakúpeného produktu, alebo služby, aby sme Vám mohli ponúkať a poskytovať súvisiace produkty a služby.
  • V prípade plnenia zmluvy budeme Vaše osobné údaje spracúvať po dobu, počas ktorej trvá zmluvný vzťah, vrátane záruky a reklamačných podmienok.
  • V prípade plnenia zákonnej povinnosti, budeme Vaše osobné údaje spracúvať po dobu, ktorú nám ukladá zákon. V prípade zákona o účtovníctve, zákona o DPH a pod. môže byť lehota 10 rokov.

  VAŠE PRÁVA AKO DOTKNUTÝCH OSÔB

  Pri spracúvaní Vašich osobných údajov sme pripravení vykonávať Vaše práva.
  • Máte právo na prístup k svojim osobným údajom, ako aj právo vedieť na aký účel sú spracúvané, kto sú príjemcovia Vašich osobných údajov, aká je doba spracúvania.
  • Máte právo na opravu, pokiaľ sú Vaše osobné údaje nesprávne, alebo sa zmenili. Kontaktuje nás, prosím, opravíme ich.
  • Máte právo na výmaz osobných údajov, pokiaľ sú nesprávne, alebo spracúvané nezákonne.
  • Ak sú Vaše osobné údaje spracúvané na základe súhlasu, máte právo kedykoľvek svoj súhlas odvolať, bez toho, aby to malo vplyv na zákonnosť spracúvania založeného na súhlase udelenom pred jeho odvolaním.
  • Máte právo na obmedzenie spracúvania. Pokiaľ si želáte, budeme údaje spracúvať iba na najnutnejšie zákonné dôvody, alebo vôbec.
  • Máte právo na prenosnosť údajov. Ak si želáte preniesť ich k inému prevádzkovateľovi, poskytneme vám ich v zodpovedajúcom formáte, ak tomu nebudú brániť iné technické, alebo zákonné prekážky.
  Máte právo podať sťažnosť dozornému orgánu, ktorým je Úrad pre ochranu osobných údajov Slovenskej republiky, so sídlom Hraničná 12, 820 07 Bratislava 27, Slovenská republika, IČO: 36 064 220, tel. č.: +421 2 3231 3220,
  https://dataprotection.gov.sk/uoou/

  KDE A AKO MÔŽETE SVOJE PRÁVA UPLATNIŤ

  Vaše práva si môžete tiež uplatniť písomne na adrese: . Na Vašu žiadosť odpovieme bezplatne v lehote do 30 dní. V prípade zložitosti, alebo veľkého počtu žiadostí sme oprávnení túto lehotu predĺžiť o ďalších 60 dní. Pokiaľ k tomu dôjde budeme Vás o tom, aj o dôvodoch informovať.
  Ak bude ale Vaša žiadosť zjavne neodôvodnená, alebo opakovaná, sme oprávnení účtovať si primeraný administratívny poplatok na pokrytie nákladov spojených s poskytnutím tejto služby.</p>
