<div class="container" *ngIf="loggedUser">
  <header class="jumbotron">
    <h3>
      <strong>Vitaj {{ loggedUser.name }}</strong>
    </h3>
  </header>
  <mat-tab-group mat-align-tabs="center" animationDuration="0ms">
    <!--    first tab-->
    <mat-tab label="Personal">
      <p>
        <strong>Email:</strong>
        {{ loggedUser.email }}
      </p>
      <p>
        <strong>Roles:</strong>
        {{ loggedUser.role }}
      </p>
      <p>
        <strong>Created:</strong>
        {{ loggedUser.created | date: 'dd.MM.yyyy HH:mm' }}
      </p>

      <div>
        <button mat-stroked-button color="primary" (click)="onEditUser(loggedUser)">Edit</button>
      </div>
    </mat-tab>
    <!--    second tab-->
    <mat-tab>
      <ng-template matTabLabel>
        <span matBadge="{{projectSize}}" matBadgeOverlap="false">Projects</span>
      </ng-template>
      <div *ngIf="projectSize == 0">Momentálne nie si pridaný k žiadnemu projektu. Vytvor si svoj projekt, aby si mohol
        pridávať nové udalosti v záložke 'Events'.
      </div>
      <div *ngIf="projectSize > 0">
        <table>
          <tr>
            <th>Projekt</th>
            <th>Status</th>
            <th>Role</th>
          </tr>
          <tr *ngFor="let project of loggedUser.projects">
            <td>{{project.project.description}} ({{project.project.shortName}})</td>
            <td>
              <mat-icon>{{project.project.active ? 'check' : 'close'}}</mat-icon>
            </td>
            <td>{{project.role}}</td>
            <td>
              <button mat-icon-button (click)="onEditProject(project.project)" mat-flat-button>
                <mat-icon matTooltip="Edit project" matTooltipPosition="right">edit</mat-icon>
              </button>
              <button mat-icon-button (click)="onAddImage(project.project.id)" mat-flat-button>
                <mat-icon matTooltip="Add image" matTooltipPosition="right">add_a_photo</mat-icon>
              </button>
            </td>
          </tr>
        </table>
      </div>
      <div>
        <button mat-stroked-button color="primary" (click)="onCreateProject()">Add new project</button>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
