<h1 mat-dialog-title>Course :: {{data.action}}</h1>
<div mat-dialog-content [formGroup]="eventService.eventForm">

    <input type="hidden" formControlName="id">
    <mat-form-field>
        <input matInput formControlName="description" placeholder="Miesto akcie*" />
        <mat-error *ngIf="f.description.touched && f.description.errors?.required">Popis is required</mat-error>
    </mat-form-field>
    <mat-form-field>
        <input matInput formControlName="startDate" type="datetime-local" placeholder="startDate*" />
        <mat-error *ngIf="f.startDate.errors?.required">StartDate is required</mat-error>
    </mat-form-field>
    <mat-checkbox formControlName="visible" color="primary" [checked]="true">Viditelny</mat-checkbox>
</div>
<div mat-dialog-actions>
    <button mat-raised-button (click)="onSubmit(data.action)" color="primary" [disabled]="eventService.eventForm.invalid">Submit</button>
    <button mat-raised-button (click)="onClose()" color="warn">Cancel</button>
</div>