<div class="container">
  <div class="panel-heading">
    <h1 style="text-align: center">Users</h1>
  </div>
  <mat-grid-list cols="3">
    <mat-grid-tile *ngFor="let user of users ">
      <mat-card>
        <mat-card-header [ngClass]="{'active-header': user.active, 'inactive-header': !user.active}">
          <div class="mat-card-header-text">
          <mat-card-title>{{user.name}}</mat-card-title>
          </div>
          <img mat-card-avatar class="avatar" src="../assets/avatars/{{user.avatar}}" alt="{{user.name}}">
        </mat-card-header>
        <mat-card-content>
          <div class="content">
            <mat-icon>mail_outline</mat-icon>&nbsp;{{user.email}}
          </div>
          <div class="content">
            <mat-icon>security</mat-icon>&nbsp;{{user.role}}
          </div>
          <div class="content">
            <mat-icon>more_time</mat-icon>&nbsp;{{user.created | date: 'dd.MM.yyyy HH:mm:ss' : 'Europe/Bratislava'}}
          </div>
        </mat-card-content>
        <hr>
        <mat-card-actions>
          <div class="flex-container">
            <div class="flex1 custom-switch">
              <input type="checkbox" class="custom-control-input" id="active{{user.id}}" [checked]="user.active"
                     (click)="makeActive(user.id, user.name)" [disabled]="user.id===loggedUser.id" />
              <label class="custom-control-label pointer" for="active{{user.id}}">{{user.active ? 'Aktívny' :
                'Neaktívny'}}</label>
            </div>
            <div class="flex2">
              <button mat-stroked-button color="primary" (click)="onEdit(user)">EDIT</button>
            </div>
          </div>
        </mat-card-actions>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
<div class="plus">
  <button mat-fab (click)="onCreate()" color="primary"><mat-icon>plus_one</mat-icon></button>
</div>
</div>

