<div style="padding: 10px;" class="panel panel-default" *ngIf="!isChanged">
  <div class="panel-heading">
    <h1 style="text-align: center">Users</h1>
  </div>
  <div style="padding: 10px;">
    <button mat-button (click)="onCreate()" mat-flat-button color="primary">Add user</button>
  </div>
  <div class="panel-body">
    <table class="table table-hover table-sm" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
      <thead class="thead-light">
        <tr>
          <th>UserName</th>
          <th>Email</th>
          <th>Role</th>
          <th>Status</th>
          <th>Created</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users ">
          <td>{{user.name}}</td>
          <td>{{user.email}}</td>
          <td>{{user.role}}</td>
          <td>
            <div class="custom-control custom-switch">
              <input type="checkbox" class="custom-control-input" id="active{{user.id}}" [checked]="user.active"
                (click)="makeActive(user.id, user.userName)">
              <label class="custom-control-label pointer" for="active{{user.id}}">{{user.active ? 'Aktívny' :
                'Neaktívny'}}</label>
            </div>
          </td>
          <td>{{user.created | date: 'dd.MM.yyyy HH:mm:ss' : 'Europe/Bratislava'}}</td>
          <td>
            <button mat-icon-button (click)="onEdit(user)" mat-flat-button>
            <mat-icon>edit</mat-icon>
          </button>
          </td>
        </tr>
      </tbody><br>
    </table>
  </div>
</div>
