.form-group{
  width: 100%;
}

.mat-form-field {
  display: inline;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  flex-basis: 380px;
}

.short {
  width: 300px;
}

.warn {
  color: orange;
  cursor: pointer;
}

.warn-text {
  color: grey;
  font-style: italic;
}

.arrow {
  color: grey;
  cursor: pointer;
}
