.mat-form-field{
  width: 100%;
}

.mat-checkbox{
  width: 100%;
}

.mat-form-field.short-form-field{
  width: 50%;
}

.warning {
  display: inline;
  width: 200px;
}

.warn {
  padding: 15px;
  color: red;
  cursor: pointer;
}

.warn-text {
  color: grey;
  font-style: italic;
  font-weight: bold;
}

.arrow {
  color: grey;
  cursor: pointer;
}

div.avatar {
  display: flex;
  padding: 6px;
  align-items: center;
}

img.avatar {
  width: 100px;
  height: 100px;
  cursor: pointer;
}
