<h1 mat-dialog-title>Course :: {{data.action}}</h1>
<div [formGroup]="eventService.eventForm">
  <input type="hidden" formControlName="id">
  <input type="hidden" formControlName="userId">
  <mat-form-field appearance="fill">
    <mat-label>Project</mat-label>
    <mat-select formControlName="project" [compareWith]="compareFunction" (selectionChange)="onProjectChange()">
      <mat-option *ngFor="let project of myProjects" [value]="project.id">
        {{project.shortName}}
      </mat-option>
    </mat-select>
    <mat-hint>Select assigned project</mat-hint>
  </mat-form-field>
  <input type="hidden" formControlName="image">
  <div class="avatar">
    Obrazok:&nbsp;<img class="avatar" [src]="imageUrl" (click)="showImageList(myProjectValue, imageUrl, imageValue)">
  </div>
  <mat-form-field appearance="fill">
    <mat-label>Miesto akcie</mat-label>
    <input matInput formControlName="description"/>
    <mat-error *ngIf="f.description.touched && f.description.errors?.required">Miesto akcie is required</mat-error>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Začiatok akcie</mat-label>
    <input matInput formControlName="startDate" type="datetime-local" placeholder="startDate*"/>
    <mat-error *ngIf="f.startDate.errors?.required">StartDate is required</mat-error>
  </mat-form-field>

  <mat-form-field class="short-form-field" appearance="fill">
    <mat-label>Maximálna kapacita akcie</mat-label>
    <input matInput formControlName="capacity" type="number" min="0"
           [readonly]="data.action=='Update'"/>
    <mat-error *ngIf="f.capacity.touched && f.capacity.errors?.required">Kapacita is required</mat-error>
  </mat-form-field>

  <div class="warning" *ngIf="data.action=='Add'">
    <mat-icon class="warn" (click)="showCapacityWarning()">warning_amber</mat-icon>
    <mat-icon class="arrow"
              (click)="showCapacityWarning()">{{capacityWarning ? 'arrow_drop_down' : 'arrow_right'}}</mat-icon>
    <div class="warn-text" *ngIf="capacityWarning">Kapacita akcie sa v budúcnosti nedá meniť!</div>
  </div>
  <mat-checkbox formControlName="open" color="primary" [checked]="true">Otvoreny</mat-checkbox>
</div>
<div mat-dialog-actions>
  <button mat-raised-button (click)="onSubmit(data.action)" color="primary" [disabled]="eventService.eventForm.invalid">
    Submit
  </button>
  <button mat-raised-button (click)="onClose()" color="warn">Cancel</button>
</div>
