
.mat-card {
  border: solid 1px #6f634d;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  box-shadow: 0 0px 10px 2px #ddd;
  padding:0;
}

  .left-style-free{
    border-left: solid 8px #73AD21;
  }

  .left-style-full{
    border-left: solid 8px #ff3333;
  }

h2 {
  display: block;
  padding: 10px;
  text-align: center;
  /*text-transform: uppercase;*/
  color: #6f634d;
}

.status-tile {
  font-size: xx-large;
  font-weight: bolder;
  display: flex;
  vertical-align: middle;
  justify-content: flex-start;
}

mat-card-content{
  background-color: #f6f6f6;
  padding: 13px;
  display: flex;
  border-radius: 5px 5px 0px 0px;
  margin: 0;
}

.description-tile {
  background-color: #f6f6f6;
  width: 100%;
}

.description-item{
  color: #6f634d;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-weight: bold;
}

.free {
  color: #73AD21;
}

.full {
  color: #ff3333;
}

.big-icon {
  height: 48px;
  width: 48px;
  font-size: 48px;
  transition: transform 300ms ease-out;
}

.big-icon:hover {
  transform: rotate(90deg) scale(1.08);
  cursor: pointer;
}
