
.mat-grid-list {
  border: solid 1px grey;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

  .left-style-free{
    border-left: solid 8px #73AD21;
  }
  
  .left-style-full{
    border-left: solid 8px #ff3333;
  }

  .myCard {
  width: 50%;
  padding: 10px;
  display: block;
  margin: auto;
  text-align: center;
  box-shadow: 0 0px 10px 2px #ddd;
}

h2 {
  display: block;
  padding: 10px;
  text-align: center;
  /*text-transform: uppercase;*/
  color: #6f634d;
}

.capacity-tile {
  color: #6f634d;
  text-align: center;
  font-size: x-large;
  font-weight: bold;
}

.status-tile {
  font-size: xx-large;
  font-weight: bolder;
  display: inline-block;
  vertical-align: middle;
}

.description-tile {
  padding: 10px;
  color: #6f634d;
  background-color: antiquewhite;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.free {
  color: #73AD21;
}

.full {
  color: #ff3333;
}

div.icon-line-icon {
  position: absolute;
  top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

div.icon-line-head {
  position: absolute;
  top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

div.icon-line {
  position: absolute;
  bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.big-icon {
  height: 48px;
  width: 48px;
  font-size: 48px;
  transition: transform 300ms ease-out;
}

.big-icon:hover {
  transform: rotate(90deg) scale(1.1);
}
