<div class="myCard"><h2>Aktuálne sa môžte prihlásiť na tieto JEŠUA stretnutia</h2></div>
<div class="myCard">
  <div style="padding: 10px;" *ngFor="let stat of stats">
    <mat-grid-list cols="4" rowHeight="100px">
      <mat-grid-tile [colspan]="2" [rowspan]="1" [style.background]="'lightgrey'">
        {{stat.description}} ({{stat.startDate | date: 'dd.MM.yyyy HH:mm' }})
        <Br>
        Maximálna kapacita {{stat.capacity}} ľudia
      </mat-grid-tile>
      <mat-grid-tile [colspan]="2" [rowspan]="2" class="capacity-tile">
        <div>
        <mat-icon class="material-icons">people_alt</mat-icon>&nbsp;
        {{courseStateMap.get(stat.id).capacity}}
        {{courseStateMap.get(stat.id).state=='free' ? "miesta voľné" : "náhradníci" }}
        </div>

        <div class="icon-line">
          <a routerLink="../registration">
        <mat-icon class="big-icon {{courseStateMap.get(stat.id).state}}">add_circle</mat-icon>
          </a>
        </div>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <div class="course-tile {{courseStateMap.get(stat.id).state}}">{{courseStateMap.get(stat.id).statusText}}</div>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="1" [rowspan]="1">

      </mat-grid-tile>
    </mat-grid-list>
  </div>
</div>
