<h2>Aktuálne sa môžte prihlásiť na tieto JEŠUA stretnutia</h2>
<div class="myCard">
  <div style="padding: 10px;" *ngFor="let stat of stats">
    <mat-grid-list cols="4" rowHeight="6rem" class="left-style-{{courseStateMap.get(stat.id).state}}">
      <mat-grid-tile [colspan]="2" [rowspan]="1">
        <div class="description-tile">
          <div class="description-item">
            <mat-icon>place</mat-icon>&nbsp;{{stat.description}}
          </div>
          <div class="description-item">
            <mat-icon>access_time</mat-icon>&nbsp;{{stat.startDate | date: 'dd.MM.yyyy - HH:mm' }}
          </div>
          <div class="description-item">
            <mat-icon>people_alt</mat-icon>&nbsp;{{stat.capacity}}
          </div>
        </div>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="2" [rowspan]="2" class="capacity-tile">
        <div class="icon-line-icon">
          <mat-icon>{{courseStateMap.get(stat.id).state == 'free' ? "person_add_alt_1" : "person_remove_alt_1"}}</mat-icon>
        </div>
        <div class="icon-line-head">
          {{courseStateMap.get(stat.id).state == 'free' ? "Počet voľných miest: " : "Počet náhradníkov: " }}
          {{courseStateMap.get(stat.id).capacity}}
        </div>

        <div class="icon-line">
          <mat-icon class="big-icon {{courseStateMap.get(stat.id).state}}" (click)="onCreate(stat)">add_circle</mat-icon>
        </div>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <div class="status-tile {{courseStateMap.get(stat.id).state}}">{{courseStateMap.get(stat.id).statusText}}</div>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <div class="chart-tile-head">
          <div class="chart-tile">

          </div>
        </div>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
</div>
