<h1 mat-dialog-title>User :: {{data.action}}</h1>
<div mat-dialog-content [formGroup]="userForm">

    <input type="hidden" formControlName="id">
    <mat-form-field>
        <input matInput formControlName="name" placeholder="Name*" />
        <mat-error *ngIf="f.name.touched && f.name.errors?.required">Name is required</mat-error>
        <mat-error *ngIf="f.name.touched && f.name.errors?.minlength">Name must be at least
            {{f.name.errors?.minlength.requiredLength}}
            characters</mat-error>
    </mat-form-field>
    <mat-form-field>
        <input matInput formControlName="startDate" type="datetime-local" placeholder="startDate*" />
        <mat-error *ngIf="f.startDate.errors?.required">StartDate is required</mat-error>
    </mat-form-field>
    <mat-checkbox formControlName="open" color="primary" [checked]="true">Viditelny</mat-checkbox>
</div>
<div mat-dialog-actions>
    <button mat-raised-button (click)="onSubmit(data.action)" color="primary" [disabled]="userForm.invalid">Submit</button>
    <button mat-raised-button (click)="onClose()" color="warn">Cancel</button>
</div>
<!--

<div class="col-md-4">
    <form [formGroup]="userForm" (submit)="signup()">
        <div class="form-group">
            <div class="input-group">
                <div class="input-group-prepend">
                    <div class="input-group-text"><i class="material-icons">perm_identity</i></div>
                </div>
                <input formControlName="name" type="text" class="form-control" placeholder="Name"
                    [ngClass]="(submitted || f.name.touched) && f['name'].invalid ? 'is-invalid': ''" />
                <div *ngIf="f.name.errors" class="invalid-feedback">
                    <div *ngIf="f.name.errors.required">Name is required</div>
                    <div *ngIf="f.name.errors.minlength">Name must be at least
                        {{f.name.errors.minlength.requiredLength}}
                        characters</div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="input-group">
                <div class="input-group-prepend">
                    <div class="input-group-text"><i class="material-icons">alternate_email</i></div>
                </div>
                <input formControlName="email" type="text" class="form-control" placeholder="Email"
                    [ngClass]="(submitted || f.email.touched) && f['email'].invalid ? 'is-invalid': ''" />
                <div *ngIf="f.email.errors" class="invalid-feedback">
                    <div *ngIf="f.email.errors.required">Email is required</div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="input-group">
                <div class="input-group-prepend">
                    <div class="input-group-text"><i class="material-icons">lock</i></div>
                </div>
                <input type="password" formControlName="password" class="form-control" placeholder="Password"
                    [ngClass]="submitted && f['password'].invalid ? 'is-invalid': ''" />
            </div>
            <label class="col" [ngClass]="f['password'].hasError('required') ||
                      f['password'].hasError('hasNumber') ? 'text-danger small' :'text-success small'">
                <i class="material-icons">
                    {{
                              f['password'].hasError('required') ||
                        f['password'].hasError('hasNumber') ? 'highlight_off' : 'check_circle_outline' }}
                </i>
                Must contain at least 1 number!
            </label>

            <label class="col" [ngClass]="f['password'].hasError('required') ||
                        f['password'].hasError('hasSmallChars') ? 'text-danger small' :'text-success small'">
                <i class="material-icons">
                    {{
                              f['password'].hasError('required') ||
                        f['password'].hasError('hasSmallChars') ? 'highlight_off' : 'check_circle_outline' }}
                </i>
                Must contain at least 1 lower character!
            </label>

            <label class="col" [ngClass]="f['password'].hasError('required') ||
                        f['password'].hasError('hasBigChars') ? 'text-danger small' :'text-success small'">
                <i class="material-icons">
                    {{
                              f['password'].hasError('required') ||
                        f['password'].hasError('hasBigChars') ? 'highlight_off' : 'check_circle_outline' }}
                </i>
                Must contain at least 1 UPPER character!
            </label>

            <label class="col" [ngClass]="f['password'].hasError('required') ||
                        f['password'].hasError('minlength') ? 'text-danger small' :'text-success small'">
                <i class="material-icons">
                    {{
                              f['password'].hasError('required') ||
                      f['password'].hasError('minlength') ? 'highlight_off' : 'check_circle_outline' }}
                </i>
                Must have at least 8 chars!
            </label>
        </div>
        <div class="form-group">
            <div class="input-group">
                <div class="input-group-prepend">
                    <div class="input-group-text"><i class="material-icons">lock</i></div>
                </div>
                <input type="password" formControlName="confirmPassword" class="form-control"
                    placeholder="Confirm Password"
                    [ngClass]="(submitted || f.confirmPassword.touched) && f['confirmPassword'].invalid ? 'is-invalid': ''" />
                <div *ngIf="f.confirmPassword.errors" class="invalid-feedback">
                    <div *ngIf="f.confirmPassword.errors.required">Password is required</div>
                    <div *ngIf="f.confirmPassword.errors.mustMatch">Passwords do not match</div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <select class="custom-select" formControlName="role">
                <option value="" disabled>Role</option>
                <option>ADMIN</option>
                <option>MODERATOR</option>
                <option>USER</option>
            </select>
            <div *ngIf="f.role.errors" class="invalid-feedback">
                <div *ngIf="f.role.errors.required">Role is required</div>
            </div>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>

        <div class="alert alert-warning" *ngIf="submitted && isSignUpFailed">
            Signup failed!<br />{{ errorMessage }}
        </div>
    </form> -->

    <!-- <div class="alert alert-success" *ngIf="isSuccessful">
        Your registration is successful!
    </div> -->
<!-- </div> -->
<!-- <div class="alert alert-danger" *ngIf="!isAuthorized">
    {{ errorMessage }}
</div> -->
